body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6y-GMQQV5g9J8oEmbm2GtMMNGQ-HPTAJMTQ&s');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
}